<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Hiling</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <center><h2>Hiling</h2></center>
    <hr/>
    <p th:text="${SAVE.name}"></p>
    <br/><br/>
    <p th:text="${SAVE.lokasi}"></p>
    <p align="left"><img alt="" th:src="@{'getimage/'+${SAVE.gambar}}" width="500" height="400"></p>
    </body>
</html>
